<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><button mat-raised-button color="primary" (click)="onClick($event)">{{nuovavariabile}}</button></mat-grid-tile>
    <mat-grid-tile>
        <ul *ngFor="let cliente of arrayclienti">
            <li>Nome: {{cliente.nome}} Cognome: {{cliente.cognome}} Telefono: {{cliente.telefono}}</li>
            
        </ul>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <table mat-table [dataSource]="arrayclienti" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let clienti"> {{clienti.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let clienti"> {{clienti.nome}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Cognome </th>
      <td mat-cell *matCellDef="let clienti"> {{clienti.cognome}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let clienti"> {{clienti.telefono}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

